<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Meta viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script> -->

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <title>Planny</title>
  </head>
  <body>
    <!-- Header -->
    <div class="d-flex align-items-center justify-content-around default_header">
      <h1>Planny</h1>
      {{#if loggedIn}}
        <form action="/users/logout" method="post">
          <button class="btn btn-cyan" type="submit" id="logout_bt">Logout</button>
        </form>
      {{/if}}
    </div>

    <!-- Displaying the destination as well as the date range -->
    <div class="d-flex p-2 align-items-center justify-content-center homepage_welcome_message">
      <h1><b>Day {{day}} of {{destination}}</b></h1>
      <button class="btn btn-cyan" type="submit" name="add" id="add_bt">Add</button>
    </div>

    <!-- Render the boxes as per the number of days calculated -->
    <div class="d-flex p-2 align-items-center justify-content-start flex-column homepage_body">
      {{#each day_items}}
        <!-- Outer body of one activity in a single day -->
        <div class="d-flex p-2 align-items-center justify-content-around card" id="activity_card">
          <!-- Time element -->
          <div class="d-flex align-items-center justify-content-center flex-column">
            <h5> <b>{{this.start_time}}</b> </h5>
            <h5> <b>{{this.end_time}}</b> </h5>
          </div>

          <!-- Image element -->
          <img class="img-thumbnail" src="{{this.image}}" alt="">

          <!-- Name, description elements and view more link -->
          <div class="d-flex align-items-center justify-content-center flex-column">
            <h5> <b>{{this.location}}</b> </h5>
            <p>{{this.description}}</p>
            <!-- <a href="#"><h5>View more</h5></a> -->
          </div>

          <!-- Edit button -->
          <div class="d-flex align-items-center justify-content-center flex-column">
            <button class="btn btn-cyan" name="edit" type="submit" id="edit_bt" onclick="window.location.href='../{{this.destination}}/{{this.day}}/{{this.activity_id}}/edit'">Edit</button>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Add activity modal -->
  </body>
</html>
