<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Meta viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script> -->

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <title>Planny</title>
  </head>
  <body>
    <!-- Header -->
    <div class="d-flex align-items-center justify-content-around default_header">
      <h1>Planny</h1>
      {{#if loggedIn}}
        <form action="/users/logout" method="post">
          <button class="btn" type="submit" id="logout_bt">Logout</button>
        </form>
      {{/if}}
    </div>

    <!-- Displaying the destination as well as the date range -->
    <div class="d-flex p-2 align-items-center justify-content-center flex-column homepage_welcome_message">
      <h1><b>{{destination}}, {{start_date}} -> {{end_date}}</b></h1>
    </div>

    <!-- Render the boxes as per the number of days calculated -->
    <div class="d-flex p-5 justify-content-start flex-wrap homepage_body">
      {{#each day_list}}
        <a href="/itineraries/homepage/{{this.destination}}/{{this.day}}"></a>
      {{/each}}
    </div>

  </body>
</html>
